# =========================
# NODE (backend + frontend)
# =========================
node_modules/
**/node_modules/

# =========================
# BUILD / DIST
# =========================
dist/
build/
frontend/dist/
backend/dist/

# =========================
# ANGULAR
# =========================
.angular/
.cache/

# =========================
# LOGS
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*



# =========================
# DOCKER
# =========================
*.pid
*.seed
*.pid.lock

# =========================
# DATABASE / BACKUPS
# =========================
*.sql.gz
*.bak

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# EDITORES
# =========================
.vscode/
.idea/

# =========================
# TEST / COVERAGE
# =========================
coverage/

# =========================
# TEMP
# =========================
tmp/
temp/
.cache/